//variables
$backgroundImageHeader: url(../img/backimage.jpeg);
$backgroundColor: #E8E8E8;
$backgroundColor: #618D49;
$backgroundColor: #314082;
$backgroundColor: black;
$backgroundColor: white;
$borderColor: lightgrey;
$color: white;
$color: lightgrey;
$color: dimgrey;

* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

.row {
    display: flex;
    margin-bottom: 40px;
}

@import 'navbar';

@import 'imageheader';


.row {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
}

.column {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    $backgroundColor: #ffffff;
}

@import 'prices';


#boxGreen {
 $backgroundColor: #618D49;
    }

#boxBlue {
    $backgroundColor: #314082;
}    

#boxBlack {
  $backgroundColor: black;
}

.field.field-centered {
    text-align: center;
    border: .5px solid;
     $borderColor:lightgrey;
    $backgroundColor: white;
    padding: 20px;
}



.paralign {
    display: flex;
}

@import 'info';





@import 'footer';
